<style>
    .myClass{
        width: 90%;

    }
    .myClass:hover{
      outline-color: #2bbbad !important;
     
        
    }
    .myStyle{
      margin-left: 32%; margin-right:32% ; margin-bottom: -20%; text-align: center;
     
    }
    .btn{
      width:90%;
      height:10%;
      font-size:20px;
      font-family: 'Times New Roman', Times, serif;
    }
    
</style>

<mat-card class="myStyle">
<mat-card-title>Add Course</mat-card-title>
<br>
<mat-card-content>
    <mat-form-field appearance="outline" class="myClass">
        <mat-label>Course Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="myClass">
        <mat-label>Course Details</mat-label>
        <input matInput>
      </mat-form-field>
      <form [formGroup] = "form" novalidate>
          <mat-form-field appearance="outline" class="myClass">
              <mat-label>Course Image</mat-label>
              <ngx-mat-file-input formControlName="file"></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" class="btn">Add</button>
 </mat-card-content> 
</mat-card>


